* {
  margin: 0;
  padding: 0
}

html {
  height: 100%
}

body {
  min-height: 100%;
  font-family: 'Lato', sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto
}

header {
  grid-row-start: 1;
  grid-row-end: 2
}

footer {
  grid-row-start: 3;
  grid-row-end: -1
}

header, footer, main {
  display: flex;
  justify-content: center;
  align-items: center
}

header, footer {
  background: rgba(0, 0, 0, 1)
}

.caja {
  width: 100%;
  max-width: 1020px
}

/* Header menu  ----------------------------------------------------*/

.header {
  width: 100%;
  position: fixed;
  z-index: 10
}

.cajaMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%
}

.menu {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr)
}

.menu a {
  text-decoration: none;
  color: #fff
}

.menu>li {
  display: flex;
  justify-content: center;
  align-items: center
}

.menu li:hover {
  background: #449731;
  color: white;
  transition: .5s
}

.menuLogo {
  background-image: url(../images/logo-arriba.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  height: 60px;
  transition: 1s ease-out
}

.menu>li:nth-of-type(3):hover {
  height: 120px;
  background: transparent;
  background-image: url(../images/logo-iamsa.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  animation-name: cambio;
  animation-duration: 3s
}

@keyframes cambio {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.menu>li:hover>.subMenu {
  display: grid;
  transition: 1s
}

.menu>li>a {
  font-size: 17px;
  text-align: center
}

.subMenu {
  display: none;
  position: absolute;
  top: 100%
}

.subMenuServicios {
  grid-template-columns: repeat(5, 1fr);
  left: 0;
  width: 100%
}

.subMenuNosotros {
  grid-template-columns: repeat(3, 1fr);
  left: 40%;
  width: 60%
}

.subMenu>li {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  min-height: 70px;
  border-right: 1px solid #449731;
  border-top: 1px solid #449731
}

.subMenu>li:hover>.subMenuContenido {
  display: inline-block
}

.subMenu>li>a {
  font-size: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center
}

.subMenu>li>a>span {
  font-size: 18px;
  margin-bottom: 5px
}

.subMenuContenido {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-top: 1px solid #449731
}

.subMenuContenido li {
  box-sizing: border-box;
  list-style: none;
  width: 40%;
  border-right: 1px solid #449731;
  border-left: 1px solid #449731;
  padding: 10px 20px;
  background: #000
}

.subMenuContenido li:hover>.subMenuArticulo {
  display: block
}

.subMenuContenido li a {
  font-size: 14px
}

.subMenuArticulo {
  display: none;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 40%;
  padding: 20px;
  color: #fff;
  background: #000
}

.subMenuArticulo p {
  font-size: 14px;
  text-align: justify;
  margin: 30px 10px 0
}

.subMenuArticulo p a {
  color: #449731
}

/* footer ----------------------------------------------------*/

.cajaFooter {
  display: grid;
  grid-template-columns: minmax(200px, 2fr) repeat(2, 1fr);
  grid-template-rows: repeat(3, minmax(1fr, 100px));
  padding: 5px 0;
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cajaFooter .item:nth-of-type(1) {
  grid-row-start: 1;
  grid-row-end: 3;
  justify-content: center;
}

.logoFooter {
  height: 100px;
}

.cajaFooter a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.cajaFooter a .icon {
  font-size: 20px;
}

.cajaFooter a {
  display: flex;
  align-items: center;
}
