* {
  margin: 0;
  padding: 0
}

html, body {
  height: 100%
}

body {
  font-family: 'Lato', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header, footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
}

footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.contenedor {
  width: 100%;
  max-width: 1020px
}

.header {
  width: 100%;
  position: fixed;
  z-index: 10;
  -webkit-box-shadow: 0 3px 3px rgba(59, 65, 60, 0.5);
          box-shadow: 0 3px 3px rgba(59, 65, 60, 0.5)
}

.contenedorMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%
}

.menu {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr)
}

.menu a {
  text-decoration: none;
  color: #fff
}

.menu>li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center
}

.menu>li:hover {
  background: rgb(68, 151, 49);
  -webkit-transition: .5s;
  transition: .5s;
}

.logo {
  background-image: url(../images/logo-arriba.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  height: 60px;
  width: 100%;
  -webkit-transition: 1s ease;
  transition: 1s ease
}

.menu>li:nth-of-type(3):hover {
  background: #000;
}

.menu>li:nth-of-type(3):hover .logo {
  height: 120px;
  background-image: url(../images/logo-iamsa.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-animation-name: cambio;
          animation-name: cambio;
  -webkit-animation-duration: 3s;
          animation-duration: 3s
}

@-webkit-keyframes cambio {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes cambio {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.menu>li:hover>.subMenu {
  display: grid;
  -webkit-transition: 1s;
  transition: 1s
}

.menu>li>a {
  font-size: 17px;
  text-align: center
}

.subMenu {
  display: none;
  position: absolute;
  top: 100%
}

.subMenuServicios {
  grid-template-columns: repeat(5, 1fr);
  left: 0;
  width: 100%
}

.subMenuNosotros {
  grid-template-columns: repeat(3, 1fr);
  left: 40%;
  width: 60%
}

.subMenu li {
  background: rgba(95, 102, 96, 0.9);
}

.subMenu>li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70px;
  border-right: 1px solid rgb(68, 151, 49);
  border-top: 1px solid rgb(68, 151, 49)
}

.subMenu li:hover {
  background: rgba(68, 151, 49, 1);
  -webkit-transition: .5s;
  transition: .5s
}

.subMenu>li:hover>.subMenuContenido {
  display: inline-block
}

.subMenu>li>a {
  font-size: 12px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center
}

.subMenu>li>a>span {
  font-size: 18px;
  margin-bottom: 5px
}

.subMenuContenido {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-top: 1px solid rgb(68, 151, 49)
}

.subMenuContenido li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  width: 40%;
  border-right: 1px solid rgb(68, 151, 49);
  border-left: 1px solid rgb(68, 151, 49);
  padding: 10px 20px;
}

.subMenuContenido li:hover>.subMenuArticulo {
  display: block
}

.subMenuContenido li a {
  font-size: 14px
}

.subMenuArticulo {
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 40%;
  padding: 20px;
  color: #fff;
  background: rgba(95, 102, 96, 0.9);
}

.subMenuArticulo p {
  font-size: 14px;
  text-align: justify;
  margin: 30px 10px 0
}

.subMenuArticulo p a {
  color: rgb(68, 151, 49);
}

.contenedorFooter {
  display: grid;
  grid-template-columns: auto repeat(4, .5fr);
  grid-template-rows: auto auto;
  width: 20%;
  min-width: 300px;
  padding: 5px 0;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.items:nth-of-type(1) {
  grid-row-start: 1;
  grid-row-end: 3
}

.items:nth-of-type(6) {
  grid-column-start: 2;
  grid-column-end: 6
}

.contenedorFooter a {
  color: #fff;
  text-decoration: none;
  font-size: 10px;
}

.contenedorFooter a .icon {
  font-size: 25px
}

.logoFooter {
  height: 70px;
  margin-right: 10px;
}

.contenedorFooter a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center
}

.main {
  background: rgb(130, 205, 122);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.portada {
  background-image: url(../images/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
}

.cubierta {
  background: rgba(255, 255, 255, 0.85);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.contenedorMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

.contenedorMain h1 {
  margin-bottom: 20px;
  color: rgb(68, 151, 49);
  font-size: 3em;
  text-align: center;
}

.contenedorMain p {
  width: 70%;
  text-align: justify;
  background: rgba(68, 150, 49, 0.7);
  padding: 20px 40px;
  color: white;
  -webkit-box-shadow: 5px 5px 3px rgba(50, 50, 50, .5);
          box-shadow: 5px 5px 3px rgba(50, 50, 50, .5)
}

.animacion {
  width: 100%;
  height: 100px;
  position: relative;
  margin-top: 70px;
}

.fondoMovil {
  background-image: url(../images/fondo-movil.png);
  background-repeat: repeat-x;
  background-position: left;
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 0;
  z-index: 1;
  -webkit-animation-name: mover;
          animation-name: mover;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes mover {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}

@keyframes mover {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}

.ciclista {
  height: 50px;
  width: 50px;
  background-image: url(../images/ciclista.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  position: absolute;
  bottom: 11px;
  left: calc(50% - 50px);
  z-index: 2;
}
